header {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  .nav-bar {
    display: flex;
    height: 10vh;
    width: 70%;
    margin: auto;
    align-items: center;
  }
  filter: drop-shadow(0px 5px 3px gray);
  -webkit-filter: drop-shadow(0px 5px 3px gray);
}

.logo-container,
.nav-links {
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: left;
  flex: 1;
  height: 65%;
  object {
    height: 100%;
    width: 33%;
  }
}

nav {
  flex: 6;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  font-size: 2.5em;
}

.nav-link {
  color: $primary;
  text-decoration: none;
  &:hover {
    filter: drop-shadow(0px 0px 25px black);
    -webkit-filter: drop-shadow(0px 0px 25px black);
  }
}

@media (max-width: 768px) {
  .logo-container {
    display: none;
  }
  .hamburger-menu {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 2;
    transform: translate(-5%, -50%);
    -webkit-transform: translate(-5%, -50%);
    -moz-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    -o-transform: translate(-5%, -50%);
  }
  .line {
    width: 30px;
    height: 3px;
    background: $primary;
    margin: 5px;
  }
  header {
    overflow: visible;
    background: transparent;
    
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    clip-path: circle(100px at 90% -25%);
    -webkit-clip-path: circle(100px at 90% -25%);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1400px at 90% -25%);
    -webkit-clip-path: circle(1400px at 90% -25%);
    pointer-events: all;
  }
  .nav-link {
    color: $primary;
    outline-style: none;
  }
}

@media (max-width: 992px) {
  .nav-links {
    font-size: 1.6em;
  }
}

@media (max-width: 1200px) {
  .nav-links {
    font-size: 1.8em;
  }
}

@media (max-width: 1400px) {
  .nav-links {
    font-size: 2em;
  }
}
