header {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  .nav-bar {
    display: flex;
    height: 10vh;
    width: 70%;
    margin: auto;
    align-items: center;
  }
  filter: drop-shadow(0px 5px 3px gray);
  -webkit-filter: drop-shadow(0px 5px 3px gray);
}

.logo-container,
.nav-links {
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: left;
  flex: 1;
  height: 65%;
  object {
    height: 100%;
    width: 33%;
  }
}

nav {
  flex: 6;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  font-size: 22px;
}

.nav-link {
  color: $primary;
  text-decoration: none;
  &:hover {
    filter: drop-shadow(0px 0px 25px black);
    -webkit-filter: drop-shadow(0px 0px 25px black);
  }
}
